*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* REUSEABLE COMPONENTS */
html{   scroll-behavior: smooth;
}

body{
        font-family: arial ;
        font-size: 1rem;
}
section{
       margin-top: 4rem;
       padding-top: 1rem;
        
}

.title{
        position:relative;
        width: 180px;
        height: auto;
        color: white;
 }
 .section_title {
        border: 1px solid #ddd;
        position: relative;
        top: 1.5rem;       
}
.top_title{
        margin-bottom: 2rem;
        text-align:center;
}
.top_title h3{
        text-transform: uppercase;
}
i{
        font-size: 1.5rem;
}


/*-------------===============--------
HEADER NAV MENU DESIGN START 
------------=============--------------*/
.nav_wrapper  {
        padding: .5rem 3rem;
        text-transform: uppercase;
        background-color: #e2494b;
        margin: 10px 0px;
        border-radius: .4rem;
        font-family: arial black bold ;
        font-weight: bold;
        transition: 1s;
}     
.nav_wrapper a{
        color: #fff !important;
}
.nav_wrapper a:hover{
        color: #ea8586!important;
}
.profiles a {
        float: left;
        text-decoration: none;
        color: red;
}

/*===============-------------------
 HEADER NAV MENU DESIGN END 
 ==================----------------------*/

 /*===============-------------------
 SERVICES SECTION STARTS HERE
 ==================----------------------*/
.small_image{
        float: left;
}
.profiles p {
        font-size: 1rem;
        text-align: left;
        margin-top: 2.5rem;
}
.profiles span {
        float: left;
        font-size: 1.5rem;
        margin-left: 1rem;
}





  /*===============-------------------
 SERVICES SECTION ENDS HERE
 ==================----------------------*/
 #players{
         overflow: hidden;
 }
 .card_wrapper {
        width: 12rem;
        overflow: hidden;
        float: left;
        padding-right: 0rem;
        margin-right: 2.4rem;
        
}
.card_wrapper p {
        font-size: 1rem;
        text-align: left;
        margin-top: 0rem;
        margin-bottom: .1rem;
        
}
.card_wrapper a{
        float: left;
        text-decoration: none;
        color: red;
        
}
.card_wrapper:last-child {
        margin-right: 0px;
}
  /*===============-------------------
 CARD SECTION ENDS HERE
 ==================----------------------*/
 #letest_blog{
         background: #ddd;
         overflow: hidden;
         padding: 2.5rem;
 }
 .pro_blog img{
         margin-right: 1rem;
 }
 .pro_blog p{
         text-align: left;
         margin-bottom: .4rem;
 }
 .pro_wrapper {
        text-align: center;
        font-weight: 600;
        margin-bottom: 1rem;
    }
 
.all_text {
        margin-bottom: 2.5rem;
}
.location {
        text-align: center;
       
}
  /*===============-------------------
FORM STARTS HERE
 ==================----------------------*/
 form input,textarea {
        border: none;
        border-radius: .3rem;
        margin-top: .3rem;
}
.sub_design {
        padding: .3rem 4rem;
        text-transform: uppercase;
}

/*===============-------------------
FOOTER STARTS HERE
==================----------------------*/
footer{
        background-color: #ddd;
}
.footer_line {
        box-shadow: 0px -2px 2px;
        height: 1rem;
}   
.copyright2 {
        display: grid;
        justify-content: right;
}